{
  "presets": ["@babel/preset-env"],
  "plugins": [["@babel/transform-runtime"]],
  "ignore": [
    ".git",
    ".ionide",
    "bin",
    "build",
    "downloads",
    "node_modules",
    "uploads"
  ]
}
